* {
    color: #ddd;
    font-family: monospace;
	font-size: 20px;
    background: #222;
}

a {
    color: royalblue;
    text-decoration: none;
    background: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: auto;
}

#i,
#o {
    resize: none;
    outline: none;
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #ddd;
}

header, header * {
    cursor: pointer;
    font-size: 30px;
    line-height: 50px;
    text-indent: 10px;
    width: 100%;
    height: 50px;
}

#c {
    max-width: 1000px;
    margin: 0px auto;
}

#e {
    width: 100%;
    border: 1px solid #ddd;
}

@media screen and (max-width: 1000px) {
    #c {
        max-width: 800px;
    }
}
@media screen and (max-width: 800px) {
    #c {
        max-width: 600px;
    }
}
@media screen and (max-width: 720px) {
    header {
        text-align: center;
    }
    header span {
        display: none;
    }
}